/*==========================================================================*/
/*                     H O V E R    &    P C    O N L Y                     */
/*==========================================================================*/

@media screen and (min-width: 769px) {
    #lightboxOverlay,
    #lightbox {
        min-width: var(--content-width) !important;
        width: 100% !important;
    }

    .sp320,
    .sp375,
    .sp425 {
        display: none;
    }

    .wow {
        animation-duration: 1s;
        animation-delay: 0.2s;
    }

    .sp {
        display: none !important;
    }

    a:hover {
        text-decoration: none;
        color: #7491AF;
    }

    .menu-list .menu-tt:hover {
        color: #7491AF;
    }

    .to-top {
        &:hover {
            opacity: 0.8;
        }
    }

    .no-scroll {
        overflow: hidden;
        -ms-touch-action: none;
        touch-action: none;
        -webkit-overflow-scrolling: auto;
    }

    //  ========================== Header ==========================
    #header {
    }
    .menu-list {
        .menu-tt{
            &:hover{
                color: $main-cl;
            }
        }
    }

    .dropdown {
        &:hover {
            > .sub-menu {
                transform: translateY(0);
                pointer-events: auto;
                @include visible;
                z-index: 1;
            }
        }
    }

    .sub-menu {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 200px;
        transition: all 0.3s ease;
        transform: translateY(10px);
        pointer-events: none;
        @include hidden;
        box-shadow: 10px 10px 30px rgba($color: black, $alpha: 0.16);

        a {
            &:hover {
                color: #fff;
                background-color: $main-cl;
            }
        }
    }

    //  ========================== END - Header ==========================
}

/* END screen-min:769px */

@media screen and (min-width: 769px) and (max-width: 1560px) {
    #header .logo {
        max-width: 179px;
    }
    .header-download a {
        padding: 10px;
        font-size: 16px;
    }
}

/* END screen-min:769px && screen-max:1560px */
