/*==========================================================================*/
/*                        M O B I L E    D E V I C E                        */
/*==========================================================================*/
@media screen and (min-width: 1px) and (max-width: 1400px) {
    :root {
        --content-width: calc(100% - 40px);
    }
}
@media screen and (min-width: 1px) and (max-width: 1200px) {
    :root {
        --heightHeader: 80px;
    }
    #header {
        padding: 0;
    }
    #header .logo {
        max-width: 159px;
    }
    .header-main {
        padding: 0 10px;
    }
    .menu-list .menu-tt {
        font-size: 16px;
    }
    .header-download a {
        font-size: 12px;
        padding: 5px 10px;
    }
    .menu-list {
        column-gap: 20px;
    }
    .index-visual {
        padding: 150px 15px 80px;
    }
    .hero__txt h1 {
        font-size: min(12vw, 80px);
    }
    .hero__txt .hero__sub {
        font-size: min(18vw, 120px);
        margin-top: -25px;
        margin-bottom: 0;
    }
    .list__img {
        margin-bottom: 50px;
    }
    .legal .legal__content {
        width: 100%;
        margin-left: 0;
    }
    .legal .legal__parent {
        gap: 20px;
        .row {
            gap: 20px;
        }
    }
    .ask__content {
        gap: 20px;
        padding: 40px 0 20px;
    }
    .ask__content .cnt {
        padding: 30px;
    }
    .ft__info .txt a {
        font-size: 16px;
    }
    .scroll__down {
        bottom: 20px;
        a {
            font-size: 16px;
        }
    }
    .legal {
        padding: 50px 0;
        .legal__parent .row {
            flex-direction: column;
            .item {
                max-width: 100% !important;
                .desc {
                    max-width: 100%;
                }
                img {
                    width: 100%;
                }
            }
            &.row3 {
                flex-direction: column-reverse;
            }
        }
    }
    .volunteering {
        &__content {
            padding: 0 15px;
        }
        .title {
            padding-right: 0;
            flex-direction: column-reverse;
            margin-bottom: 30px;
            padding: 0 15px;
            &__h2 {
                max-width: 100%;
                br {
                    display: none;
                }
            }
            &__sub {
                br {
                    display: none;
                }
            }
        }
    }
}
@media screen and (min-width: 1px) and (max-width: 992px) {
    .title {
        flex-direction: column;
        gap: 0;
        margin-bottom: 30px;
        &__h2 {
            max-width: 100%;
            h2 {
                font-size: 34px;
                margin-bottom: 10px;
            }
        }
    }
    .legal {
        .legal__parent {
            .row.row4 .info {
                padding: 15px;
            }
        }
    }
    .intro {
        margin: 100px 0;
    }
    #second-sec.intro .txt {
        padding: 100px 15px;
    }
    .volunteering__content {
        flex-direction: column;
        .img {
            text-align: center;
        }
        .txt {
            max-width: 100%;
            text-align: center;
        }
    }
    #footer {
        padding: 50px 0;
    }
    .ft__frame {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .ft__logo {
        max-width: 100%;
        align-items: center;
        &--link {
            a {
                font-size: 42px;
                display: block;
            }
        }
    }
    .ft__info {
        max-width: 370px;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        > * {
            width: 100%;
        }
    }
    address {
        width: 100%;
        text-align: center;
    }
}
@media screen and (min-width: 1px) and (max-width: 768px) {
    :root {
        --heightHeader: 70px;
    }
    #wrapper {
        min-width: unset !important;
    }

    .pc {
        display: none !important;
    }

    .container {
        width: 100%;
        padding: 0 15px;
    }
    .no-scroll {
        overflow: hidden;
    }

    .open-nav {
        .header-menu {
            top: var(--heightHeader);
            @include visible;
        }
    }

    .hamburger-btn {
        display: block;
    }

    .to-top {
        bottom: 15px;
        right: 15px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    input,
    button,
    textarea,
    select,
    p,
    blockquote,
    th,
    td,
    pre,
    address,
    li,
    dt,
    dd {
        font-size: 140%;
    }

    //  ========================== Header ==========================
    #header {
        padding: 0;
        h1 {
            display: none;
        }
        .container {
            height: 100%;
        }
    }
    .header-menu {
        position: fixed;
        top: 100%;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        text-align: left;
        transition: all 0.3s ease;
        z-index: 99;
        background-color: rgba($color: #000000, $alpha: 0.9);
        padding-top: 40px;
        overflow-x: hidden;
        overflow-y: auto;
        height: calc(100vh - 70px);
        padding-bottom: 180px;
        @include hidden;
    }

    .menu-list .menu-tt.active::before {
        display: none;
    }

    .menu-list {
        display: block;
        margin-bottom: 50px;
        // level 1
        > li {
            > a,
            > p {
                border-bottom: 1px solid #ebebeb;
                font-size: 14px;
                font-weight: 700;
                padding: 10px 20px;
                width: 100%;
                display: block;
                position: relative;
                text-align: center;
            }
        }
    }

    .dropdown {
        .open {
            &::before {
                transform: scale(-1);
            }
        }

        p {
            &::before {
                content: "";
                position: absolute;
                top: calc(50% - 5px);
                right: 20px;
                @include arrow(#333, 20px, 10px, bottom);
                transition: all 0.3s ease;
            }
        }
    }

    .sub-menu {
        display: none;
        padding: 10px 20px;
        border-bottom: 1px solid #ebebeb;

        a {
            padding: 6px 16px;

            &::after {
                content: "";
                position: absolute;
                top: 16px;
                left: 0;
                width: 10px;
                height: 1px;
                background-color: var(--body-color);
            }
        }
    }
    .hamburger-btn .bar {
        background-color: #fff;
    }
    .hamburger-btn .bar::before,
    .hamburger-btn .bar::after {
        background-color: #fff;
    }
    //  ========================== END - Header ==========================

    .intro .txt {
        font-size: 18px;
        padding: 60px 15px;
    }
    #second-sec.intro .txt {
        padding: 60px 15px;
    }
    .intro {
        margin: 50px 0;
    }
    .list__img .group .img {
        width: auto;
        margin: 0 auto !important;
    }
    .list__img .group .img .square-m {
        top: -10px;
        left: -10px;
    }
    .square-m {
        width: 42px;
        height: 42px;
    }
    .legal {
        .title {
            margin-bottom: 30px;
        }
        .legal__parent .row .item .info {
            padding: 20px;
        }
    }
    .legal .legal__parent .row .item h3 {
        font-size: 26px;
    }
    .legal .legal__parent .row.row4 .info {
        position: static;
        flex-direction: column;
        gap: 0;
        padding: 0;
        margin-bottom: 30px;
    }
    .ask__content {
        flex-direction: column;
        .cnt {
            padding: 0;
            max-width: 100%;
            h2 {
                font-size: 28px;
            }
        }
    }

    .ask__bnr {
        gap: 20px;
        .row {
            gap: 20px;
        }
    }
    .open-nav {
        #header {
            padding-top: 0;
            background-color: rgba(0, 0, 0, 0.9);
            box-shadow: 0 0 5px hsla(0, 0%, 100%, 0.4);
        }
    }
}

/* END min-width:1px && screen-max:768px */

@media screen and (min-width: 375px) and (max-width: 768px) {
    .sp320 {
        display: none;
    }
}

/* END min-width:375px && screen-max:768px */

@media screen and (min-width: 425px) and (max-width: 768px) {
    .sp375 {
        display: none;
    }
}

/* END min-width:425px && screen-max:768px */

@media screen and (min-width: 525px) and (max-width: 768px) {
    .sp425 {
        display: none;
    }
}

/* END min-width:525px && screen-max:768px */

/*==========================================================================*/
/*                 F O R   S P E C I F I E D   B R O W S E R                */
/*==========================================================================*/

/* EDGE  */
@supports (-ms-ime-align: auto) {
}

/* FIREFOX */
@-moz-document url-prefix() {
}

/* Safari 10.1+ (which is the latest version of Safari at this time) */
@media not all and (min-resolution: 0.001dpcm) {
}
@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */
}
/*==========================================================================*/
/*                             E N D   A L L                                */
/*==========================================================================*/
